html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

div#editor {
    height: 100%;
    display: grid;
}

#container
{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#Root
{
  width: 550px;
  height: 550px;
  transform-origin: 0 0;
  pointer-events:none;
  border:1px solid transparent;
  /*required for scrollbars to work correctly*/
  position: absolute;
}

#NodeContainer
{
  left: 50px;
  top: 50px;
  width: 500px;
  height: 500px;
  position: relative;
}

.Node
{
  top: 0px;
  left: 0px;
  width: 25px;
  height: 12px;
  background-color: red;
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}

.Node:active
{
  /*stupid opera/chrome don't know grabbing :/ */
  cursor: move;
  cursor: grabbing;
}

#Node1
{
  left: 14px;
  top: -15px;
  height: 50px;
}

#Node2
{

  left: 114px;
  top: 115px;
  height: 30px;
}

.handle
{
  top: 4px;
  left: -4px;
  background-color: blue;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}

#Node2 .handle {
    left: unset;
    right: -4px;
}

.handle:active
{
  background-color: orange;
  /*stupid opera/chrome don't know grabbing :/ */
  cursor: move;
  cursor: grabbing;
}